@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --color-primary: #5c4794;
}

@layer base {
    html,
    body {
        background-color: black;
        color: white;
        font-family: "Inter", sans-serif;
    }
}

@layer utilities {
    .bg-gradient-ring {
        background: linear-gradient(
            135deg,
            rgba(40, 25, 80, 1) 0%,
            rgba(140, 120, 200, 1) 25%,
            rgba(40, 25, 80, 1) 50%,
            rgba(140, 120, 200, 1) 75%,
            rgba(40, 25, 80, 1) 100%
        );
    }
}

/* Hide scrollbar in Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.scroll-stack-card {
  will-change: transform, filter;
  transform: translateZ(0);
  backface-visibility: hidden;
}
