@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
    --color-primary: #5c4794;
}

@layer base {
    html,
    body {
        background-color: black;
        color: white;
        font-family: "Inter", sans-serif;
    }
}
